.listUtils {
  width: 100%;
}

:global {
  * {
    font-family: "Agave Nerd Font", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  #sp-appBar {
    display: none !important;
  }
  #spSiteHeader {
    display: none !important;
  }
  #spCommandBar {
    display: none !important;
  }
  #SuiteNavWrapper {
    display: none !important;
  }
}